<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="//db.onlinewebfonts.com/c/fc5a49c391d41d90e89afde248af7921?family=maydogg" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Registro de Mascotas</title>
  </head>

  <body>
    <h1>Registro de Mascota</h1>

    <form action="/pets/new" method="POST">
        <table class="petForms">
            <tr>
                <td><b>Usiario:</b></td>
                <td><input type="text" name="username" value="<%=user.username%>" disabled></td>
            </tr>
            <tr>
                <td><b>Nombre:</b></td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><b>Tipo:</b></td>
                <td><input type="text" name="type" /></td>
            </tr>
            <tr>
                <td><b>Pais:</b></td>
                <td><input type="text" name="country" /></td>
            </tr>
            <tr>
                <td><b>Estado:</b></td>
                <td><input type="text" name="state" /></td>
            </tr>
            <tr>
                <td><b>Ciudad:</b></td>
                <td><input type="text" name="city" /></td>
            </tr>
            <tr>
                <td><b>Descripcion:</b></td>
                <td><textarea name="description"></textarea></td>
            </tr>
            <tr>
                <td><b>Fotos:</b></td>
                <td><input type="text" name="picture" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <input type="submit" value="Registrar" />
                    </center>
                </td>
            </tr>
        </table>
        <input type="hidden" name="userId" value="<%=user.id%>">
        <input type="hidden" name="ownerId" value="<%=user.id%>">
        <input type="hidden" name="statusId" value="1">
    </form>
  </body>
</html>
